doctype html
html
    head
        block headContent
        link(rel='icon', href='../favicon.png')
        link(href="https://fonts.googleapis.com/css?family=Roboto", rel='stylesheet')
        style.
            body, html {
                padding: 0;
                margin: 0;
                width: 100%;
                height: auto;
                font-family: 'Roboto', sans-serif;
                text-align: center;
            }
            table {
                border-collapse: collapse;
                margin: 15px auto 0 auto;
            }

            table, th, td {
                border: 1px solid black;
                padding: 5px;
                text-align: center;
            }
            th{
                background-color: #212429;
            }
            th>a{
                color: #dfdfdf;
            }
            tr:nth-child(even) {background-color: #fff;}
            tr:nth-child(odd) {background-color: #eaeaea;}
            a {
                text-decoration: none;
                color: black;
                cursor: pointer;
            }
            button,input[type=submit]{
                cursor: pointer;
            }
            .rowColumn {
                width: 250px;
                margin: auto;
            }
            .row {
                display: flex;
                justify-content: space-between;
                margin: 10px 0 15px 15px;
            }
            .formInput {
                width: 150px;
            }
            .formInput:focus {
                outline: 0;
            }

            .formInput:focus {
                border-bottom: 1px solid blue;
            }

            .formInput {
                border: none;
                border-bottom: 1px solid black;
            }
            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            .editButtonBox{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                cursor: pointer;
            }
            .editButton {
                width: 100px;
                cursor: pointer;
            }
            #addPerson {
                width: 50px;
                text-align: center;
                cursor: pointer;
            }
            #mainContent {
                margin: auto;
            }
    body
        block bodyContent
